// COLOURS

$darkGrey: #212121;
$lightGrey: #ededed;
$textColour: #666666;
$green: #4caf4f;

// GENERAL

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
h1,
h2,
h3 {
	font-family: 'Lora', serif;
}

html,
body {
	height: 100%;
	color: #333;
	background-color: $lightGrey;
	font-family: 'Lato', sans-serif;
}

// NAVIGATION

.nav {
	background-color: #212121;
	padding: 2% 8%;

	h1 {
		color: white;
		font-size: 2rem;
	}
}

// MAIN PAGE

.searchTemplateContainer {
	padding: 2% 8%;
	h1 {
		color: #666666;
		margin-bottom: 3%;
		font-size: 1.6rem;
	}
	.instructions {
		margin: 2% 0 1% 0;
		font-style: italic;
		font-size: 16px;
	}

	button {
		position: absolute;
		padding: 10px 1%;
		margin: 4px;
		outline: none;
		justify-self: flex-end;
		background-color: $textColour;
		color: white;
		font-weight: bold;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			background-color: $darkGrey;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
		}
	}
}

/// SEARCH BOX

.wrapper {
	border-radius: 5px !important;
	font-size: 12px !important;
	font-family: 'Lato', sans-serif !important;
	background-color: transparent !important;
	border: none !important;
	&:hover,
	&:focus-within {
		box-shadow: none !important;
	}
	.evwHCa {
		background-color: white;
		border: 1px solid $textColour !important;
		svg {
			display: none;
		}
	}
}

.searchBar {
	width: 400px;
}
.form {
	display: flex;
	justify-content: flex-end;
	background-color: white !important;
	border-radius: 5px;
	border: 1px solid $textColour;
	width: 400px;
}

// RESULT

.result {
	color: $green;
	font-size: 15px !important;
	font-style: none !important;
	margin-top: 2%;
}
